{{ define "main" }}
{{ partial "about/seo.html" . }}

{{ partial "about/hero.html" . }}

{{ $metrics := slice 
  (dict "count" "20" "suffix" "+" "value" "20+" "label" "Years of Excellence")
  (dict "count" .Site.Params.client_count "suffix" "+" "value" .Site.Params.clients "label" "Global Partners")
  (dict "count" .Site.Params.product_count "suffix" "+" "value" .Site.Params.products "label" "Approved Formulations")
  (dict "count" "4" "suffix" "" "value" "4" "label" "Specialized Units")
}}
{{ partial "shared/metrics.html" (dict "items" $metrics "class" "section--paper") }}

{{ partial "about/founders.html" . }}
{{ partial "about/vision-mission.html" . }}
{{ partial "about/facility.html" . }}
{{ partial "about/certifications.html" . }}
{{ partial "about/timeline.html" . }}
{{ partial "about/backlinks.html" . }}

<!-- Call to Action -->
{{ partial "shared/cta.html" . }}

{{ end }}
